*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
    background-color: black;
    color: white;
    min-height: 100vh;
    padding: 1rem;
}

h1{
    text-align: center;
    font-weight: 400;
    margin-top: 2rem;
}

.quote-container{
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
    margin-top: 6rem;
    background-color: rgb(105, 97, 105);
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    position: relative;
}

button{
    padding: 10px 20px;
    font-family: inherit;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #9cbbbb;
}

.loading {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

.author{
    opacity: 0.7;
}

