*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    min-height: 100vh;
    font-family: sans-serif;
}

h1{
   padding-block: 3rem;
   text-align: center;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

h2{
    font-size: 4rem;
    display: flex;
}

span{
    color: brown;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;    
}

span::after{
    display: inline-block;
    content: '';
    width: 3px;
    height: 55px;
    background-color: brown;
    margin-left: 4px;
}